<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>

  {% assign description = page.content | markdownify | strip_html | strip | strip_newlines | normalize_whitespace | escape | truncate: 160 %}
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ description }}{% endif %}">

  <link rel="alternate" type="application/rss+xml" href="{{ "/feed.xml" | absolute_url }}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:700">

  {% if page.layout == 'archive' or page.url == '/blog/' %}
    <link rel="stylesheet" href="{{ "/css/archive.css" | absolute_url }}">
  {% else %}
    <link rel="stylesheet" href="{{ "/css/main.css" | absolute_url }}">
  {% endif %}

  {% if page.noindex %}
    <meta name="robots" content="noindex">
  {% endif %}

</head>
